
body {
    font-family: sans-serif;
}
.email-list {
    max-width: 1280px;
    margin: 0 auto;
}
.email-item {
    padding: 25px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #a9a9a9;
    cursor: pointer;
    margin: 10px 0;
}
.email-subject {
    text-transform: uppercase;
    font-size: 14px;
    color: #6a6a6a;
}
.email-subject::before {
    content: 'subject: ';
    text-transform: lowercase;
}
.email-from {
    font-size: 16px;
    font-weight: bold;
    color: #6a6a6a;
}
.email-from::before {
    content: 'from: ';
    text-transform: lowercase;
}
.email-to {
    font-size: 14px;
    font-weight: bold;
    color: #6a6a6a;
}
.email-to::before {
    content: 'to: ';
    text-transform: lowercase;}

